
.navbar{
    display: flex;
    padding: 15px 0;
    justify-content: space-evenly;
   
}
.navbar>li{
    background-color: rgb(227, 227, 227);
    padding:10px 20px;
    cursor: pointer;
    border-radius: 5px;
   
}
.navbar>li:hover{
    background-color: rgba(240, 239, 239, 0.719)
}
.navbar>li>a{
    text-decoration: none;
    color: #117ACA;
}