
form{
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 50vh;
    padding: 15px;
    justify-content: space-evenly;
    div{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
}