<div class="main-container">
  <div class="header">
    <button mat-raised-button color="primary" routerLink="/account"></button>
    <mat-card class="username-container">Hello Username-Test</mat-card>
    <app-login-button></app-login-button>
  </div>
  <mat-card class="content">
    <h1>Personal info</h1>
    <span> Username : username-test </span>
    <span>Email: username@test.com</span>
    <span>Number of accounts : 25 </span>
    <span>Total number of transactions : 200</span>
  </mat-card>
</div>
