<form #form="ngForm" [formGroup]="addAccountForm" (ngSubmit)="addAccount()">
  <mat-form-field>
    <mat-label>Account Type</mat-label>
    <mat-select #fontSize name="accountType" formControlName="accountType" required="true">
      <ng-container *ngFor="let type of accountTypeValues">
        <mat-option [value]="type">{{ typeName[type] }}</mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Currency</mat-label>
    <mat-select #fontSize name="currency" formControlName="currency" required="true">
      <ng-container *ngFor="let currency of currencyCategories">
        <mat-option [value]="currency">{{ currencyName[currency] }}</mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="iban">
    <input matInput placeholder="RO****************" name="iban" formControlName="iban" required="true" />
  </mat-form-field>
  <div>
    <button mat-raised-button color="warn" (click)="closeModal()" type="button">CLOSE</button>
    <button mat-raised-button color="primary" type="submit">ADD</button>
  </div>
</form>
