<div class="main">
  <mat-toolbar>
    <button mat-raised-button id="back-button" color="primary" routerLink="/account">Back</button>
  </mat-toolbar>

  <div class="tools-container">
    <div class="search-container"></div>
  </div>
  <mat-card class="table">
    <div class="header">
      <mat-form-field class="example-full-width">
        <span matPrefix> </span>
        <input type="text" matInput (keyup)="searchHandler()" placeholder="Search" [(ngModel)]="search" name="search" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate placeholder="Start date" [(ngModel)]="startDate" />
          <input matEndDate placeholder="End date" [(ngModel)]="endDate" (dateChange)="datePickerHandler()" />
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
      <button mat-raised-button id="back-button" color="warn" (click)="reset()">Reset</button>
      <button mat-raised-button id="export-button" color="primary" (click)="exporter.exportTable('csv')" [value]="">
        Get Report
      </button>
    </div>
    <mat-table #table [dataSource]="dataSource" matSort matTableExporter #exporter="matTableExporter">
      <ng-container matColumnDef="totalAmount">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Total Amount </mat-header-cell>
        <mat-cell *matCellDef="let transaction">
          {{ transaction.totalAmount }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="categoryName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Category </mat-header-cell>
        <mat-cell *matCellDef="let transaction">
          {{ transaction.categoryName }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="transactionDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
        <mat-cell *matCellDef="let transaction">
          {{ transaction.transactionDate | date: 'medium' }}
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <mat-paginator
      #paginator
      [length]="transactions.length"
      [pageSize]="20"
      [pageSizeOptions]="[5, 10, 20, 40, 100]"
      (page)="onPageChange($event)"
      [showFirstLastButtons]="true">
    </mat-paginator>
  </mat-card>
</div>
