.main {
  display: grid;
  height: 100vh;
  grid-template-rows: 55px 15fr 1fr;
  .header {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    button {
      margin: 15px;
    }
    #raport-button {
      grid-column-start: 6;
    }
  }
  mat-card {
    mat-form-field {
      display: grid;
      align-items: center;
      justify-content: center;
    }
    mat-table {
      height: 760px;
      overflow-y: scroll;
      mat-header-cell {
        text-transform: uppercase;
        font-weight: 800;
      }
    }
  }
}
@media (max-width: 1350px) {
  .main {
    mat-card {
      mat-table {
        height: 400px;
      }
    }
  }
}
