.main {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1200px;
  justify-content: center;
  grid-template-rows: 80px 700px;
  grid-row-gap: auto;
  .header {
    width: 100%;
    max-height: 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      max-height: 40px;
      min-width: 100px;
    }
  }
  mat-paginator {
    position: sticky;
    bottom: 0;
  }
  mat-table {
    overflow-y: scroll;
    height: 550px;
  }
}

@media (max-width: 880px) {
  .main {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    grid-template-rows: 80px 500px;
  }
}

@media (max-width: 650px) {
  .main {
    .header {
      transform: scale(0.5);
    }
  }
}
