
<p>List with every account : </p>

<li *ngFor="let account of accounts">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{account.iban}}
          </mat-panel-title>
          <mat-panel-description>

            Type of account : {{account.accountType}} 
          </mat-panel-description>
        </mat-expansion-panel-header>
        
        <ng-template matExpansionPanelContent>
          Transactions 
        </ng-template>
      </mat-expansion-panel>
</li>
