
.mainCard{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#accountHeader{
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}
